body {
    font-family: Arial, Helvetica, sans-serif;
    color: #7e857a;
    background: #f7f4e3;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 15px;
}

.card {
  color: #373640;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  border-radius: 5px; /* 5px rounded corners */
  margin: 6px 4em;
  background-color: #f7d3ba;
}

.card:hover {
    box-shadow: 0 8px 36px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}